<!DOCTYPE html>
<html>
<head>
  <title>Help page</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
</head>
<body>

<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Login-Website</a>
      <ul class="right hide-on-med-and-down">
        <li class="login-modal"><a href=""><button data-target="modal1" class="btn modal-trigger">Login</button></a></li>
        <li><a href="/">Home</a></li>
        <li class="active"><a href="help.html">Help</a></li>
      </ul>
    </div>
  </nav>
</div>

<h1>This is the HELP PAGE! hope you find useful HELP!</h1>


<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
<script type="text/javascript" src="js/index.js"></script>
</body>
</html>